#app-docs .tabs {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

#app-docs .tabs > div {
    display: flex;
}

#app-docs .tabs a {
    height: 100%;
    color: hsla(0,0%,100%,.85);
    background-color: hsla(218,5%,47%,.3);
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#app-docs .tabs a:hover,
#app-docs .tabs a.active {
    background-color: #202225;
}

#app-docs .tabs a.highlight {
    background-color: #1b95e0;
}

#app-docs .doc-list-item {
    color: hsla(0,0%,100%,.85);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: hsla(218,5%,47%,.3);
}

#app-docs .doc-list-item:hover {
    background-color: #202225;
    cursor: pointer;
}

#app-docs .doc-list-item p,
#app-docs .doc-list-item h3 {
    margin: 0;
}